@media only screen and (min-width: 1440px) {
    .cards {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}


@media only screen and (max-width: 1439px) and (min-width: 769px) {

    .cards {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .free_trial {
        margin: 0 0 0 400px !important;
    }
}

@media only screen and (max-width: 768px) {

    .cards {
        grid-template-columns: repeat(1, 1fr) !important;
    }

}

main {
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

/* Header CSS starts here */

.header {

    padding: 20px;

    .heading {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 23px;
        line-height: 27.6px;
        color: #72C83E;
    }

    .header_welcome {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
    }

    .header_beta {
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        color: #1EC2BF;
    }
}

/* Header CSS ends here */

/* Cards CSS starts here */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    margin: 10px 0 0 0;

    section {
        margin: 0 10px 10px 0;
        background-color: #F3F7F9;
        padding: 20px;
    }

    .free_trial {
        width: 100px;
        height: 28px;
        cursor: pointer;
        border: none;
        outline: none;
        color: rgba(48, 191, 138, 1);
        font-weight: 600;
        font-size: 15px;
        border-radius: 5px;
        margin: 0 0 0 260px;
        border: 1px solid rgba(48, 191, 138, 1);
    }

    .cards_detail {
        background-color: white;

        .card_info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background-color: white;

            p {
                font-weight: 400;
                color: rgba(65, 81, 92, 1);
                margin: 5px;
            }

            span {
                color: black;
            }
        }
    }

    .card_icons {
        width: 35px;
        height: 35px;
        padding: 15px;
        border-radius: 50px;
        background-color: #DEE8EC;
        margin: 0;
    }

    h3 {
        font-weight: 500;
        font-size: 28px;
        line-height: 30.8px;
        margin: 15px 0 0 0;
    }

    .card_content {
        font-weight: 400;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.36);
        line-height: 19.2px;
    }

    .card_button {
        background-color: rgba(0, 0, 0, 1);
        color: white;
        width: 100%;
        height: 48px;
        border-radius: 4px;
        padding: 10px;
        gap: 10px;
        border: none;
        outline: none;
        font-weight: 500;
        font-size: 18px;
        margin: 25px 0 0 0;
    }

    .card_service {
        line-height: 51px;
        background-color: white;
        padding: 38px;

        p {
            font-weight: 400;
            color: rgba(65, 81, 92, 1);
            margin: 5px;
        }

        span {
            color: black;
        }
    }

    #prayaan_content {
        margin: 15px 0 35px 0;
    }

    #interface_content {
        margin: 15px 0 40px 0;
    }
}

/* Cards CSS ends here */

/* Footer CSS starts here */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 0;
    background-color: rgba(243, 247, 249, 1);
    border: 1px solid rgba(24, 30, 34, 0.06);
    width: 100%;
    border-radius: 8px;
    padding: 10px;


    section {
        display: flex;
        align-items: center;
    }

    section span {
        width: 35px;
        height: 35px;
        padding: 12px 5px 8px 15px;
        border-radius: 50%;
        background-color: rgba(222, 232, 236, 1);
    }

    button {
        width: 184.49px;
        height: 42px;
        border-radius: 4px;
        padding: 10px;
        gap: 10px;
        background-color: black;
        color: rgba(255, 255, 255, 1);
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 500;
    }
}

/* Footer CSS ends here */

/* Feedback starts Here */

.feedback {
    position: fixed;
    top: 50%;
    right: -60px;
    transform: translateY(-50%);

    p {
        transform: rotate(270deg);
        border-radius: 10px 0px 0px 10px;
        background-color: rgba(139, 255, 220, 1);
        padding: 5px;
    }
}

/* Feedback ends Here */

/* Sidebar starts here */

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 200vh;
    transition: width 0.3s ease;
    z-index: 1000;
    background-color: #f4f4f4;
    overflow: hidden;
    text-align: center;

    &:hover {
        width: 230px;
    }
}

.hicons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0 0 0;

    .hicons-1 {
        margin-bottom: 200px;
    }

    p {
        display: flex;
        align-items: center;
        margin: 10px 0;
        font-weight: 500;
        padding: 10px;

        &:hover {
            border: 1px solid rgba(222, 232, 236, 1);
            border-radius: 5px;
            background-color: white;
            width: 190px;
            cursor: pointer;
        }
    }

    .icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .item-name {
        display: none;
        white-space: nowrap;
    }
}

.sidebar:hover {

    .hicons-1 .item-name,
    .hicons-2 .item-name {
        display: inline;
    }
}

/* Sidebar ends here */

/* Prayaan Page starts here */

.prayaan{
    display: grid;
    grid-template-columns: 5% 90% 5%;

    .prayaan_content{
        margin: 20px;
    }
}

.link{
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 16px;
}
